<div class="alert alert-success">
    <ul>
        <li class="">- Replace function</li>
        <li class="">- fillna functionn</li>
        <li class="">- dropna function</li>
        <li class="">- isnull function</li>
        <li class="">- notnull functionn</li>
        <li class="">- Case Conversion function</li>
        <li class="">- replace using Regular expression atributes</li>
    </ul>
</div>

In [ ]:
#import pandas package to read file
import pandas as pd

# Reading zym.csv file
df=pd.read_csv('datasets/zym.csv')

#Displaying data frame
df

# Use Replace function to replace value with NAN

In [ ]:
import numpy as np
# Using Replace function to replace value with Numpy NAN
df.replace(-180,np.nan)

In [ ]:
df1 = df.replace(['-9',-180],np.nan)
df1

# Replace value based on specific column using DisctionaryÂ¶

In [ ]:
df2=df.replace({'run':'-9','calory burn':-180} ,np.NaN)
df2

In [ ]:
df3= df.replace({'Remarks': np.nan}, "No Remark")
df3

In [ ]:
df.replace('[A-Za-z]','',regex=True)

In [ ]:
df.replace({'run':'[0-9]'},'', regex=True)

In [ ]:
df7 =pd.DataFrame({
    'score':['exceptional','average','good','poor','average','exceptional'],
    'student':['kundan','alex','jhon','lucy','juliam','sima']
})
df7

In [ ]:
df7.student.str.upper()

In [ ]:
df7['student'].apply(lambda name: name.upper())

In [ ]:
sum = lambda x,y: x +y

sum(4,7)

In [ ]:
#To drop any NaN value from table
dff=df.dropna()
df

In [ ]:
df.dropna(how='all')

In [ ]:
df

In [ ]:
df.dropna(axis=1,how='all')

In [ ]:
df.fillna(0)

In [ ]:
df

In [ ]:
df.fillna(method='bfill',axis='rows')

In [ ]:
df.interpolate()

In [ ]:
dfw = df.set_index('date')
dfw.interpolate(method='time')

In [ ]:
dfw