In [1]:
import pandas as pd

In [2]:
data  = pd.read_excel("data/data.xlsx")

In [3]:
data

   Value1  Value2  Value3
0  0.2536  0.1008  0.3857
1  0.4839  0.4536  0.3561
2  0.1292  0.6875  0.5929
3  0.1781  0.3049  0.8928
4  0.6253  0.3486  0.8791