# We use # symbol to put comment for single line <hr>

In [182]:
#creating variables
#------------------

x = 10                                                                                                                                                         

#printing variable values
print("x = ", x )

x =  10

In [183]:
name = 2
name

2

# Data type in python<hr>

# String

In [184]:
#Declaring a string 
str = "KUNDAN"
print(str)

KUNDAN

In [185]:
FName = 'KUNDAN'
LName = 'KUMAR'

#Concatenation
#concatenate first name and last name with white space between them
Fullname = FName +' '+ LName 
print(Fullname)

KUNDAN KUMAR

In [186]:
#To repeat a string twice
print((Fullname+' ') * 2)

KUNDAN KUMAR KUNDAN KUMAR

In [187]:
#Slicing a string
substr = FName[1:5]
substr

'UNDA'

In [188]:
#Indexing a string

print(FName[-6:-1])

print(FName[-1] + FName[-5])
print(FName[-1] + FName[1])

KUNDA
NU
NU

In [189]:
#Find string
p  = """How are you today?
Beter than you, 
cool"""
p.find('cool')

36

In [190]:
#Replace
p1 = p.replace("cool","Great")
p1

'How are you today?\nBeter than you, \nGreat'

In [191]:
#Strip()
p[:4].strip()

'How'

In [192]:
#Counting str using count()
p.count("you")

2

# Tuples
###### Tuples is sequence of immutable python object like floating number, string , etc Tuples sequences, just like list It allows duplicates member

# Creating tuple

In [193]:
studen_list = ('Eric','John','Linda','Marry','Eric','Claude')
studen_list

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude')

In [194]:
# Tuple operations

#Concatenation

studen_list + ('Patrick','Kundan')

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude', 'Patrick', 'Kundan')

In [195]:
# Repetition
(studen_list+('Patrick','Kundan'))*2

('Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan',
 'Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan')

In [196]:
# Slicing

studen_list[1:3]

('John', 'Linda')

In [197]:
#Indexing
studen_list[-1]

'Claude'

# LIST

In [198]:
#Creating list

myList = ['Kumar',3.6,'Learning Python']
print("Original list: \n=============\n" ,myList)

Original list:
=============
 ['Kumar', 3.6, 'Learning Python']

# List Operations

In [199]:
# Append
myList.append("Eric")
print("Appended list: \n=============\n",myList)

Appended list:
=============
 ['Kumar', 3.6, 'Learning Python', 'Eric']

In [200]:
#  Extend list
myList.extend(['Mukesha',3.9])
print("extended list: \n=============\n",myList)

extended list:
=============
 ['Kumar', 3.6, 'Learning Python', 'Eric', 'Mukesha', 3.9]

In [201]:
#Insert new element in existing list
myList.insert(0,'kundan')
print("list with new inserted item: \n=============\n",myList)

list with new inserted item:
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python', 'Eric', 'Mukesha', 3.9]

In [204]:
# pop item in list (Read element from list and remove)
myList.pop(4)
print("list after poping: \n=============\n",myList)

list after poping:
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python', 'Mukesha']

In [205]:
#Remove item in list
myList.remove('Mukesha')
print("list after removing 'Mukesha': \n=============\n",myList)

list after removing 'Mukesha':
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python']

# SETS

In [3]:
sets = {7,23,33,22,22,33,5}
sets

{5, 7, 22, 23, 33}

In [11]:
#creating a set
mySet1 = {9,1,4,52,3}
mySet2 = {9,1,7,45,3}

#Print set
print("mySet1: ",mySet1)
print("mySet2: ",mySet2)

mySet1:  {1, 3, 4, 9, 52}
mySet2:  {1, 3, 7, 9, 45}

In [12]:
#Union between two different sets
unionSet = mySet1 | mySet2
unionSet

{1, 3, 4, 7, 9, 45, 52}

In [13]:
#Intersection between different sets
intersection = mySet1 & mySet2
print("Intersectiointersection

{1, 3, 9}