# We use # symbol to put comment for single line <hr>

In [118]:
#creating variables
#------------------

x = 10                                                                                                                                                         

#printing variable values
print("x = ", x )

x =  10

In [119]:
name = 2
name

2

# Data type in python<hr>

# String

In [120]:
#Declaring a string 
str = "KUNDAN"
print(str)

KUNDAN

In [121]:
FName = 'KUNDAN'
LName = 'KUMAR'

#Concatenation
#concatenate first name and last name with white space between them
Fullname = FName +' '+ LName 
print(Fullname)

KUNDAN KUMAR

In [122]:
#To repeat a string twice
print((Fullname+' ') * 2)

KUNDAN KUMAR KUNDAN KUMAR

In [123]:
#Slicing a string
substr = FName[1:5]
substr

'UNDA'

In [124]:
#Indexing a string

print(FName[-6:-1])

print(FName[-1] + FName[-5])
print(FName[-1] + FName[1])

KUNDA
NU
NU

In [125]:
#Find string
p  = """How are you today?
Beter than you, 
cool"""
p.find('cool')

36

In [126]:
#Replace
p1 = p.replace("cool","Great")
p1

'How are you today?\nBeter than you, \nGreat'

In [127]:
#Strip()
p[:4].strip()

'How'

In [128]:
#Counting str using count()
p.count("you")

2

# Tuples
###### Tuples is sequence of immutable python object like floating number, string , etc Tuples sequences, just like list It allows duplicates member

# Creating tuple

In [129]:
studen_list = ('Eric','John','Linda','Marry','Eric','Claude')
studen_list

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude')

In [130]:
# Tuple operations

#Concatenation

studen_list + ('Patrick','Kundan')

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude', 'Patrick', 'Kundan')

In [131]:
# Repetition
(studen_list+('Patrick','Kundan'))*2

('Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan',
 'Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan')

In [132]:
# Slicing

studen_list[1:3]

('John', 'Linda')

In [133]:
#Indexing
studen_list[-1]

'Claude'

# LIST

In [134]:
#Creating list

myList = ['Kumar',3.6,'Learning Python']
print("Original list: \n=============\n" ,myList)

Original list:
=============
 ['Kumar', 3.6, 'Learning Python']

# List Operations

In [135]:
# Append
myList.append("Eric")
print("Appended list: \n=============\n",myList)

Appended list:
=============
 ['Kumar', 3.6, 'Learning Python', 'Eric']

In [136]:
#  Extend list
myList.extend(['Mukesha',3.9])
print("extended list: \n=============\n",myList)

extended list:
=============
 ['Kumar', 3.6, 'Learning Python', 'Eric', 'Mukesha', 3.9]

In [137]:
#Insert new element in existing list
myList.insert(0,'kundan')
print("list with new inserted item: \n=============\n",myList)

list with new inserted item:
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python', 'Eric', 'Mukesha', 3.9]

In [138]:
# pop item in list (Read element from list and remove)
myList.pop(4)
print("list after poping: \n=============\n",myList)

list after poping:
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python', 'Mukesha', 3.9]

In [139]:
#Remove item in list
myList.remove('Mukesha')
print("list after removing 'Mukesha': \n=============\n",myList)

list after removing 'Mukesha':
=============
 ['kundan', 'Kumar', 3.6, 'Learning Python', 3.9]

# SETS

In [140]:
sets = {7,23,33,22,22,33,5}
sets

{5, 7, 22, 23, 33}

In [141]:
#creating a set
mySet1 = {9,1,4,52,3}
mySet2 = {9,1,7,45,3}
set1 = mySet1.copy()

#Print set
print("mySet1: ",mySet1)
print("mySet2: ",mySet2)

mySet1:  {1, 3, 4, 9, 52}
mySet2:  {1, 3, 7, 9, 45}

In [142]:
#Union between two different sets
unionSet = mySet1 | mySet2
print("Union between mySet1 and mySet2 is : ",unionSet)

Union between mySet1 and mySet2 is :  {1, 3, 4, 7, 9, 45, 52}

In [143]:
#Intersection between different sets
intersection = mySet1 & mySet2
print("Intersection between mySet1 and mySet22 is : ", intersection)

Intersection between mySet1 and mySet22 is :  {1, 3, 9}

In [144]:
#Difference, we use minus Operator
difference = mySet1 - mySet2
print("Difference between mySet1 and mySet2", difference)

Difference between mySet1 and mySet2 {4, 52}

In [145]:
#Add element into set
#There are two function to add element into set
#add() - it allows to add one item at time
#update() - it allows to add more element at time

mySet1.add(100)
print("mySet1 aftter adding one item: ", mySet1)

# adding more than omne elements
mySet1.update({12,23,56,78})
print("mySet1 aftter adding more item: ", mySet1)

mySet1 aftter adding one item:  {1, 3, 4, 100, 9, 52}
mySet1 aftter adding more item:  {1, 3, 4, 100, 9, 12, 78, 52, 23, 56}

In [146]:
#Remove an item from a set
#There are two functions for removing item from set
#remove() - it remove element which is member of set or raise error key if element does'not exist
#discard() - It remove an element but does not throw error if element to be removed does not exist.

#removing an item using remove() function
mySet1.remove(100)
print("mySet1 after removing item (100) : ",mySet1)

#removing an item using discard() function
mySet1.discard(100)
print("mySet1 after discarding an item (100) : ",mySet1)

mySet1 after removing item (100) :  {1, 3, 4, 9, 12, 78, 52, 23, 56}
mySet1 after discarding an item (100) :  {1, 3, 4, 9, 12, 78, 52, 23, 56}

# difference between clear and del function

In [ ]:
#creating new set

x = {1,2,23,45}

In [147]:
# clear() function

print("X before cleaning X = ",x)

#After cleaning
x.clear()
print("After cleaning X=",x)

X before cleaning X =  {1, 2, 45, 23}
After cleaning X= set()

In [ ]:
#del() function

# DICTIONNAIRIES <hr>

In [158]:
#Creating dictionary

classDict = {
            'username':'Alex',
            'RegNo':22100278,
            'Age'  :25
}
classDict

In [166]:
#To test dictionary doesn't support duplicates

classDict2 = {
            'username':'Alex',
            'RegNo':22100278,
            'Age'  :25,
            'username':'Patrick'
}
classDict2

{'username': 'Patrick', 'RegNo': 22100278, 'Age': 25}

In [177]:
#Add more than one names
classDict3 = {
              'Names': ['Patrick','Kundan','Kabano'], 
              'RegNo': [221000278,221000279,221000280],
             'Ages'  : [15,45,74]
}

#print dictionary
classDict3

{'Names': ['Patrick', 'Kundan', 'Kabano'],
 'RegNo': [221000278, 221000279, 221000280],
 'Ages': [15, 45, 74]}

In [179]:
#Operations on |Dictionaries

#Accessing dictionary by key

print("Names stored in this dictionary are : ",classDict3['Names'])


# To calculate Length of dictionary
print("Length of dictionary is = ",len(classDict3))

# To know what different keys of dictionary
print("Keys of dictionary are : " ,classDict3.keys())

#To know differenet values in dictionary

print("Different values in dictionary are: ",classDict3.values())

Names stored in this dictionary are :  ['Patrick', 'Kundan', 'Kabano']
Length of dictionary is =  3
Keys of dictionary are :  dict_keys(['Names', 'RegNo', 'Ages'])
Different values in dictionary are:  dict_values([['Patrick', 'Kundan', 'Kabano'], [221000278, 221000279, 221000280], [15, 45, 74]])