# We use # symbol to put comment for single line <hr>

In [9]:
#creating variables
#------------------

x = 10                                                                                                                                                         

#printing variable values
print("x = ", x )

x =  10

In [10]:
name = 2
name

2

# Data type in python<hr>

# String

In [11]:
#Declaring a string 
str = "KUNDAN"
print(str)

KUNDAN

In [12]:
FName = 'KUNDAN'
LName = 'KUMAR'

#Concatenation
#concatenate first name and last name with white space between them
Fullname = FName +' '+ LName 
print(Fullname)

KUNDAN KUMAR

In [13]:
#To repeat a string twice
print((Fullname+' ') * 2)

KUNDAN KUMAR KUNDAN KUMAR

In [32]:
#Slicing a string
substr = FName[1:5]
substr

'UNDA'

In [30]:
#Indexing a string

print(FName[-6:-1])

print(FName[-1] + FName[-5])
print(FName[-1] + FName[1])

KUNDA
NU
NU

In [40]:
#Find string
p  = """How are you today?
Beter than you, 
cool"""
p.find('cool')

36

In [44]:
#Replace
p1 = p.replace("cool","Great")
p1

'How are you today?\nBeter than you, \nGreat'

In [58]:
#Strip()
p[:4].strip()

'How'

In [66]:
#Counting str using count()
p.count("you")

2

# Tuples
###### Tuples is sequence of immutable python object like floating number, string , etc Tuples sequences, just like list It allows duplicates member

# Creating tuple

In [82]:
studen_list = ('Eric','John','Linda','Marry','Eric','Claude')
studen_list

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude')

In [83]:
# Tuple operations

#Concatenation

studen_list + ('Patrick','Kundan')

('Eric', 'John', 'Linda', 'Marry', 'Eric', 'Claude', 'Patrick', 'Kundan')

In [84]:
# Repetition
(studen_list+('Patrick','Kundan'))*2

('Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan',
 'Eric',
 'John',
 'Linda',
 'Marry',
 'Eric',
 'Claude',
 'Patrick',
 'Kundan')

In [85]:
# Slicing

studen_list[1:3]

('John', 'Linda')

In [86]:
#Indexing
studen_list[-1]

'Claude'

# LIST

In [87]:
#Creating list

myList = ['Kumar',3.6,'Learning Python']
myList

['Kumar', 3.6, 'Learning Python']